langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv
pydantic
utils
pygame-ce
silero-vad
elevenlabs
soundfile
sounddevice
numpy
anthropic
langchain
langchain-anthropic
deepagents
apscheduler